/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.01.26., 16:35:07
    Author     : Niki
*/
body {
    background-color: #f0d681;
    font-family: Segoe UI;
}

nav {
    background-color: #21201d;
    color: #faebbe;
    
}

nav ul {
    list-style-type: none;
    
}

nav ul li {
    float: left;
    display: block;
    padding: 10px;
    
}

nav ul li:hover {
  background-color: #383428;
}

nav a {
    color: #faebbe;
}

.clear {
    clear: both;
}

#content {
    width: 800px;

    margin: 0 auto;
}
.table_content {
    width: 600;
}


