/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.02.01., 12:06:16
    Author     : Niki
*/
body {
    background-color: #87ceeb;
    padding: 0;
    margin: 0;
    font-family: Arial;
}
.search_form {
    width: 500px;
    margin: 100px auto;
    border: 1px solid black;
}
.form_top {
    padding: 10px;
    margin: 0;
    background-color: #efdfa2;
}
.form_bottom {
        padding: 10px;
    margin: 0;
    background-color: #f2e5b3;
}
input {
    margin: 0;
    padding: 5px;
    border: 1px solid black;
}
input[type="submit"]:hover {
    background-color: lightgray;
}
.result_table {
    border: 1px solid black;
    background-color: #f2e5b3;
}
.result_table th {
    
    padding: 5px;
    background-color: #efdfa2;
}